

.carousel-item img {
	max-height: 600px;
	opacity: 85%;
}

#btn {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1000;
}

#show1 {
	margin-top: 1000px;
}

#show2 {
	margin-top: 1000px;
}

#show3 {
	margin-top: 1000px;
}

#show4 {
	margin-top: 1000px;
}


.love {
	position: relative;
	margin-bottom: -50px;
	z-index: 10;
}