* {
	font-family: roboto;
	transition: background-color 0.25s ease-in-out;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: .9rem;
}

nav {
	background: rgba(0, 0, 0, 0.6);
}

.nav-link {
	text-shadow: 2px 2px 3px #000000;
}

.carousel-item img{
	max-height: 600px;
	opacity: 85%;
}

.social-media a{
	margin: 10px;
}

.myImage {
	width: 100%;
	position: absolute;
	margin-top: -15%;
	z-index: 10;
}

.myImage img{
	position: absolute;
	left: 0;
	right: 0;
	margin: -175px auto 0 auto;
	height: 150px;
	width: 150px;
	border: 1px solid black;
	pointer-events: none !important;
}

.myImage p{
	color: white;
	text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

@media only screen and (max-width: 768px) {
	.myImage {
		
		margin-top: -15%;
	}

	.myImage img {
		margin: -125px auto 0 auto;
		height: 100px;
		width: 100px;
	}

	.myImage p{
		margin-top: -10px;
		font-size: 1.2em;
	}
}
